*.class
*.tasty
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore the secret environment files anywhere in the project
*.env
.env

# Ignore downloaded large JSON raw payload samples
#*.json
!**/settings.json

# Ignore local OS metadata and IDE files
.DS_Store
.bloop

# Ignore docker localstack files
docker/.localstack/

# Block all compiler build outputs
target/
**/target/
project/project/
project/target/
project/metals.sbt

# Block the interactive bsp (Build Server Protocol) files if they appear
.bsp/
.metals/

# ====================================================================
# AWS CDK LocalStack Workspace Overrides
# ====================================================================
# 1. Ignore background compiled JavaScript files
**/infra-cdk/bin/**/*.js
**/infra-cdk/bin/**/*.d.ts
**/infra-cdk/lib/**/*.js
**/infra-cdk/lib/**/*.d.ts
**/infra-cdk/test/**/*.js
**/infra-cdk/test/**/*.d.ts

# 2. Ignore heavy dependency/output directories
**/infra-cdk/node_modules/
**/infra-cdk/cdk.out/
**/infra-cdk/.cdk.staging/

# 3. Ignore local-only Git noise inside the CDK project
**/infra-cdk/.gitignore
